node_modules
infra/data
__pycache__
.env
pull.config.json
# Preventive measure
*.sql
*.json
*.csv
*.key
*.data
*.onnx
*.xml
*.ipynb

cookies.txt
backend/pull.logs.txt
data-acquisition/service/config.yaml
