@import "tailwindcss";

/* Style specific to this website*/
/* New colors based on the logo letters, extracted with color pipette in browser. */
@theme {
  --color-logo-p: #0065f0;
  --color-logo-o: #6122b0;
  --color-logo-v: #ff8508;
}

nav a {
  @apply p-2 rounded-md font-bold border-logo-o border
}

a {
  @apply text-blue-700 hover:text-blue-400
}
