installation_id: 1
api_base_url: "https://api.photov.srd.rs"
api_token: "todo"
acquisition_interval_seconds: 10 # time btw 2 acquisitions
zero_power_threshold_seconds: 60 # time before stopping sending measurements to API when it measures 0W (in seconds)

smartplugs:
  - id: 2 # id dans la DB (name : chargeur)
    ip: "192.168.1.146"
    port: 6053
    power_key: 2391494160

  - id: 3 # name : lave-vaiselle (salon)
    ip: "192.168.1.205"
    port: 6053
    power_key: 2391494160

  - id: 4 # name : bouillore (chargeur imprimante)
    ip: "192.168.1.240"
    port: 6053
    power_key: 2391494160
